.con4 {
    position: absolute;
    right: 17px;
    top: 45px;
    width: 60px;
    height: 60px;
    background: #cb254bdd;
    border-radius: 100px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
}